{% extends 'hospitals/base.html' %}
{% block title %} Delete Confirmation {% endblock %}
{% block body %}
<div class="d-flex flex-column justify-content-center">
    <h1 class = "text-center my-4">Are you sure?</h1>
    <form action="" method="post" class="text-center">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Yes</button>
    </form>
    <a href="{% url 'records' %}" class="btn btn-secondary btn-sm mx-auto my-2" role="button">Cancel</a>
</div>
{% endblock %}