{% extends 'hospitals/base.html' %}
{% block title %} Hospital Management System {% endblock %}
{% block body %}
<div class="form-wrap">
    <h1 class = "title">Hospital Management System</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for hf in hospitalForm %}
        <div>
            <div class = "label-name">
                {{hf.label_tag}}
            </div>
            <div class="input-field">
                {{hf}}
            </div>
            <div class="error-name">
                {{hf.errors|striptags}}
            </div>
        </div>
        {% endfor %}
        <div class = "submit-button">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
<hr>
<div class="table-wrap">
    <h1 class = "table-title">Hospital Records</h1>
    <table>
        <tr>
          <th>Name</th>
          <th>Address</th> 
          <th>Phone</th>
          <th>Email</th>
          <th>Website</th>
          <th>Capacity</th>
        </tr>
        {% for rec in records %}
        <tr>
          <td>{{rec.name}}</td>
          <td>{{rec.address}}</td> 
          <td>{{rec.phone_number}}</td>
          <td>{{rec.email}}</td>
          <td>{{rec.website}}</td>
          <td>{{rec.capacity}}</td>
        </tr>
        {% endfor %}
      </table>
</div>
{% endblock %}