{% extends 'hospitals/base.html' %}
{% block title %} Hospital Management System {% endblock %}
{% block body %}
<div class="container">
    <h2 class = "text-center mt-4 p-2">Add Hospital</h2>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="text-center mt-2">
        {% for hf in hospitalForm %}
            <div class="ct-label">
                {{hf.label_tag}}
            </div>
            <div>
                {{hf}}
            </div>
            {% if hf.errors %}
            <div class="my-1">
                {{hf.errors|striptags}}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class = "text-center my-4">
            <button type="submit" class="btn btn-secondary bg-dark">Save</button>
        </div>
    </form>
</div>
{% endblock %}