{% extends 'hospitals/base.html' %}
{% block title %} Update Hospital {% endblock %}
{% block body %}
<div class="container">
    <h2 class="text-center mt-4 p-2">Update Hospital</h2>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="text-center mt-2">
            {% for form in hospitalform %}
            <div class="ct-label">
                {{form.label_tag}}
            </div>
            <div>
                {{form}}
            </div>
            {% if form.errors %}
            <div>
                {{form.errors|striptags}}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="text-center my-4">
            <button type="submit" class="btn btn-secondary">Update</button>
        </div>
    </form>
</div>
{% endblock %}